

/* variable fonts */
:root{
	--black: black;
	--kccblue:#43A7DB;
	--backtotop: #d33c1f ;
	--backtotopshade: #a13520 ;
	--kccgreen: #7BB720; 
	--kccyellow: #f3b12b;
	--tcred: #1A1853;
	--tcblue: #BA2124;
}

/* controls grid sizes */
.grid-container { 
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 100px 89vh auto 125px;
	height: 200px;
	
}

body {
	margin: 0;
	background-color: #acc98f;
	background-image: url(../images/Textureplaceholder.png);
}

.header {
    box-sizing: border-box;
	background-color: var(--kccgreen);
	grid-column-start: 1;
	grid-column-end: span 2;
}

.nav { 
	box-sizing: border-box;
	background-color: rgba(255, 0, 0, 0.8) ;
	grid-column-start: 1;
	grid-column-end: span 2;
	z-index: 99;
	border-bottom: 5px solid rgb(0, 195, 255);
	align-items: center;
	display: flex;
}

#navbar {
	display: flex;
	width: 100%;
	align-items: center;
}

.content {
	margin: 20px;
	grid-column-end: span 2;
}

html {
	scroll-behavior: smooth;
}

.activepage {
	text-decoration: underline;
}


.footer {
	background-color: rgba(255, 0, 0, 0.8);
	grid-column-end: span 2;
	padding-left: 10px;
	text-align: center;
	padding-top: 15px;
	padding: 1%;
	z-index: 4;
	color: white;
}

ul {
	display: inline;
	list-style: none;
	padding: 0px;
}

ul li {
	font-size: 25px;
	font-family: "Sigmar", serif;
	font-weight: 100;
	font-style: normal;
	display: inline-block;
	margin-right: -4px;
	position: relative;
	padding: 22.5px 20px 21.5px; /*styling the navbar */
}

a {
	text-decoration: none;
}

p {
	font-size: 22px;
	margin-top: 0;
}

h1 {
	font-size: 32px;
}

#IDimagefooter {
	height: 90px;
	width: auto;
}



a:hover{color:#b5b5b5}

#headerimage {
	position: absolute;
    top: -20px;
	height: auto;
	width: 100%;
}


#idklogo {
	height: 60px;
    width: auto;
    padding-top: 5px;
	padding-left: 20px;
	padding-right: 15px;
}

.footertext {
 	font-size: 18px;
	margin: 10px;

}

.footertextheader {
	font-size: 24px;
	margin: 10px;
}



#headertextbox {
    width: 45%;
    background-color: rgba(12, 233, 189, 0.4);
    z-index: 99;
    position: relative;
    margin-left: 27.5%;
    margin-right: 27.5%;
	margin-top: 15%;
	border: 5px solid black;
	border-radius: 10px;
}

#headertext {
	color: palevioletred;
	font-size: 52px;
	text-align: center;
}

.imagecontainerhome {
	height: 400px;
	width: 400px;
	overflow: hidden;
	margin-right: 10%;
	border-radius: 10px;
	border: 5px solid black;
}

.imagecontainerhomeLeft {
	height: 400px;
	width: 400px;
	overflow: hidden;
	margin-left: 10%;
	border-radius: 10px;
	border: 5px solid black;
}

#Productimage{
	height: 400px;
	width: 400px;
}

.textimgcontainer {
	display: flex;
	justify-content: center;
	padding: 20px;
	justify-content: space-between;
}

.textcontainer {
	width: 500px;
	height: auto;
	margin-left: 10%;
	margin-right: 10%;
}

.textcontainercenter {
	margin-top: 6%;
	width: 500px;
	height: auto;
	margin-left: 10%;
	margin-right: 10%;
}

.IDIDButton {
	width: 300px;
	height: 80px;
	border: 5px solid black;
	background-color: rgba(255, 57, 57, 0.7);
	margin-top: 5%;
	border-radius: 10px;
	text-decoration: underline;
	transition: 0.2s;
}

#quotetext {
	display: flex;
	justify-content: center;
	text-align: center;
}

.IDIDButton p{
	margin: 0;
}


.IDIDButton:hover {
	background-color: rgb(255, 23, 23);
}

.buttoncontainer {
	display: flex;
	justify-content: center;
}


/* burger menu code */

/* hamburger menu css */
#menuToggle {
	display: block;
	position: relative;
	top: 20px;
	left: 20px;
	margin-right: 20px;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
}



#menuToggle input {
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;
	
	cursor: pointer;
	
	opacity: 0;
	z-index: 2;
	
	-webkit-touch-callout: none;
	
}
	

#menuToggle span {
	display: block;
	width: 40px;
	height: 6px;
	margin-bottom: 6px;
	position: relative;
	background: #232323;
	border-radius: 3px;
	z-index: 1;
	transform-origin: 4px 0px;
}

#menu {

	width: auto;
	height: auto;
	margin: 20px 0 0 -50px;
	padding-top: 10px;
	padding-bottom: 10px;

	
	background: #ededed;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	
	transform-origin: 0% 0%;
	transform: translate(-100%, 0);
	
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}	
	
#menuToggle input:checked~ul {
	transform:none;
}

#burgermenu {
	width: 100%;
    height: 100%;
	position: absolute;
	display: none;
}

#navflex {
  	display: flex;
  	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}
	
hr {
    border: 1px solid #eee;
	margin-top: 2%;
	margin-bottom: 2%;
}
	
/* hamburger menu css end */





/* @media only screen and (max-width: 700px) {
	ul {
		list-style: none;
		padding: 0px;
	}
	#burgermenu {
		display: block;
	}
	#navbar {
		display: none;
	}

} */


/* NO CLUE WHAT THIS DOES */

* {
	box-sizing: border-box;
}




nav a:visited{
    color: rgb(255, 0, 64)#f60;
}


input[type=text], select, textarea {
	width:100%;
	padding: 12px;
	border: 1px solid #ccc;
	resize: vertical;
}

label {
	padding: 12px 12px 12px 0;
	display: inline-block;

}

input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
	float: right;

}

input[type=submit]:hover {
	background-color: #45a049;
}

.contact_container {

	background-color: #f2f2f2;
	padding: 20px;
	font-family: "Roboto", sans-serif;
}

.column {
	float: left;
	width: 25%;
	margin-top: 6px;
}

.column2 {
	float: left;
	width: 25%;
	margin-top: 6px;

}

.row:after {
	content: "";
	display: table;
	clear: both;
}


#footerimg {
	width: 12.396vw;
	display: flex;
	justify-content: flex-start;
}

.footerlinkflex {
	align-items: center;
	display: flex;
  	flex-direction: row;
	justify-content: flex-end;
}

#tawafooterlogo {
	height: 5.5vw;
	width: auto;
	padding-bottom:5%;
}

.footericon {
	height: auto;
	width: 2vw;
	padding-right: 1%;
}

#footertextflex {
	display:flex;
  	flex-direction: column;
	text-align: center;
}

.footerelementbox {
	display: flex;
  	flex-direction: row;
	justify-content: space-between;
}


@media only screen and (max-width: 700px) {
	nav ul li {
		display: block;
		margin-top: 1px;
	}
	
	.column2 {
		width: 100%;
	}
	
	.column {
		float: none;
		width: 100%;
	}
	
}
/* NO CLUE WHAT THIS DOES */

